.explore{
    margin: 4rem 6rem;
}

.explore h1{
    font-size: 3rem;
}

.first-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.first-desc{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
    padding-bottom: 2.5rem;
}

.first-desc h2{
    padding-bottom: 1rem;;
}

.image1{
    position: relative;
    width: 50%;
    display: flex;
    justify-self: space-between;
    z-index: -99;
}

.image1 img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image1 img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

.second-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.second-desc{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
    padding-bottom: 2.7rem;
}

.second-desc h2{
    padding-bottom: 1rem;;
}

.image2{
    position: relative;
    width: 50%;
    display: flex;
    justify-self: space-between;
    z-index: -99;
}

.image2 img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image2 img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

.third-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.third-desc{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
    padding-bottom: 2.7rem;
}

.third-desc h2{
    padding-bottom: 1rem;;
}

.image3{
    position: relative;
    width: 50%;
    display: flex;
    justify-self: space-between;
    z-index: -99;
}

.image3 img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image3 img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width: 850px) {
    .explore{
        margin: 4rem 2rem;
    }
    .first-head{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;

    }
    .first-desc{
        width: 100%;
    }
    
    .image1{
        width: 100%;
        margin: 1.8rem 0;
    }

    .image1 img{
        height: 250px;
    }
    
    .second-head{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;

    }
    .second-desc{
        width: 100%;
    }
    
    .image2{
        width: 100%;
        margin: 1.8rem 0;
    }

    .image2 img{
        height: 250px;
    }

    .third-head{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;

    }
    .third-desc{
        width: 100%;
    }
    
    .image3{
        width: 100%;
        margin: 1.8rem 0;
    }

    .image3 img{
        height: 250px;
    }
}


