.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 185px;
    border-radius: 13px;
    
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links {
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-links:hover {
    color: aquamarine;
    transition: 0.3s ease-in-out;
}

.menu-items {
    display: none;
}

.greeting {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.logout-btn {
    background-color: aquamarine;
    color: black;
    font-weight: 600;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .logout-btn:hover {
    background-color: #4376a0;
    transition: 0.3s ease;
  }
  

@media screen and (max-width: 850px) {
    .navbar {
        z-index: 99;
        padding: 20px 30px;
        height: 185px; 
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        position: absolute;
        top: 185px; 
        left: -100%;
        background: white;
        opacity: 0;
        align-items: flex-start;
        margin: 0;
        padding: 30px;
        transition: left 0.3s ease, opacity 0.3s ease;
        z-index: -1;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: 10;
    }

    .nav-links {
        display: block;
        width: 100%;
        font-size: 18px;
        padding: 15px 10px;
        border-bottom: 1px solid #eee;
    }

    .nav-links:hover {
        color: aquamarine;
    }

    .menu-items {
        display: block;
        cursor: pointer;
        z-index: 100;
    }

    .menu-items i {
        font-size: 24px;
        color: black;
    }
}
