
.searchbar {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.searchbar-items {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: #05806b; 
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.searchbar-icon {
    color: #16a34a; 
    font-size: 1.5rem;
}

.searchbar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    color: rgb(103, 255, 207); 
    font-size: 0.875rem;
}

.dropdown {
    margin-top: 0.25rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background-color: white;
    font-size: 0.9rem;
}